@font-face {
    font-family: 'Aeronaut';
    src: url('/css/fonts/aeronaut.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spaceboards';
    src: url('/css/fonts/aeronaut.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Aeronaut', sans-serif;
    transition: all .2s linear;
}

.heading,
.section-head h1,
.section-head-1 h4 {
    /* margin: 2rem; */
    padding-top: 6rem;
    display: inline-block;
    font-size: 2rem;
    color: #30C5DC;
    position: relative;
    letter-spacing: .2rem;
}

.heading::before,
.heading::after,
.section-head h1::before,
.section-head h1::after,
.section-head-1 h4::before,
.section-head-1 h4::after {
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
}

.heading::before,
.section-head h1::before,
.section-head-1 h4::before {
    top: 5.8rem;
    left: -2rem;
}

.heading::after,
.section-head h1::after,
.section-head-1 h4::after {
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}

.row .btn {
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.row .btn:hover {
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}

.header .logo img {
    height: 5rem;
    top: 0;
    left: 0;
}

.header .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header .navbar ul li {
    margin: 0 1.5rem;
}

.header .navbar ul li a {
    font-size: 1.25em;
    color: #fff;
}

.header .navbar ul li a:hover {
    color: #30C5DC;
    text-decoration: none;
}

.header .logo i {
    padding: 0.5rem;
}

.header .fa-bars {
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    display: none;
}

.home {
    background-image: url(../images/img1.jpg);
    background-size: cover;
    background-position: center;
}

.wave {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    background: url(../images/darkwave2.png);
    background-size: 100rem 11rem;
    animation: waves 8s linear infinite;
    background-repeat: repeat-x;
}

.wave2 {
    animation-direction: reverse;
    animation-duration: 6s;
    opacity: .3;
}

.wave3 {
    animation-duration: 4s;
    opacity: .5;
}

@keyframes waves {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100rem;
    }
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.about .row .content {
    text-align: center;
}

.about .row .content h3 {
    font-size: 2rem;
}

.about .row .content p {
    font-size: 1.25rem;
    color: white;
    padding: 1rem 0;
}

.pt-5 .container .row .section-head p {
    font-size: 1.25rem;
    color: white;
    padding: 1rem 0;
}

.section-head {
    margin-bottom: 60px;
    text-align: center;
    margin-top: -8rem;
}

.section-head p {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: -2rem;
    border: 5px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover {
    background: #c8d8e4;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 25px;
    margin-bottom: 25px;
    color: yellow;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.2);
    color: #52ab98;
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #52ab98;
}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #52ab98;
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #52ab98;
}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #52ab98;
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #52ab98;
}

.counters {
    background-image: url(../images/img2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    padding: 40px 20px;
}

.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}

.counters i {
    color: #fff;
    margin-bottom: 5px;
}

.counters .counter {
    font-size: 28px;
    margin: 10px 0;
}

@media (max-width: 700px) {
    .counters .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .counters .container>div:nth-of-type(1),
    .counters .container>div:nth-of-type(2) {
        border-bottom: 1px lightskyblue solid;
        padding-bottom: 20px;
    }
}

.section-head-1 {
    margin-bottom: 60px;
    background-size: 200%;
    background-position: left;

}

.section-head-1 p {
    color: #333;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
}

.item {
    background: #444;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    -webkit-transition: all 0.7s ease 0s;
    transition: all 0.7 ease 0s;

}

.item:hover {
    background-color: #333;
    background-position: right;
    transition: background-position 3s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.item:hover .item,
.item:hover span.icon {
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item:hover h6,
.item:hover p {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.item .icon {
    font-size: 25px;
    margin-bottom: 25px;
    color: yellow;
    width: 90px;
    height: 90px;
    line-height: 96px;
    border-radius: 50px;
}

.item .feature_box_col_one {
    background: rgba(247, 198, 5, 0.2);
    color: #52ab98;
}

.item .feature_box_col_two {
    background: rgba(255, 77, 28, 0.15);
    color: #52ab98;

}

.item .feature_box_col_three {
    background: rgba(0, 147, 38, 0.15);
    color: #52ab98;
}

.item .feature_box_col_four {
    background: rgba(0, 108, 255, 0.15);
    color: #52ab98;

}

.item .feature_box_col_five {
    background: rgba(146, 39, 255, 0.15);
    color: #52ab98;
}

.item .feature_box_col_six {
    background: rgba(23, 39, 246, 0.15);
    color: #52ab98;
}

.team .row .card:hover, .project-container:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.team .row .card .image {
    margin: 1rem 0;
    padding-top: 2.5rem;
}

.team .row .card .image img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
    object-fit: cover;
}

.team .row .card .info h3 {
    font-size: 1.25rem;
    color: #002e5f;
}

.team .row .card .info span {
    font-size: 1.125rem;
    color: #00bfff;
}

.team .row .card .info .icons a {
    margin-top: 4rem;
    padding-top: 0 1rem;
    font-size: 1.5rem;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team .row .card .info .icons .fa-facebook-f:hover,
.footer .icons .fa-facebook-f:hover {
    color: #4267B2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-twitter:hover,
.footer .icons .fa-twitter:hover {
    color: #1DA1F2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-instagram:hover,
.footer .icons .fa-instagram:hover {
    color: #C13584;
    text-decoration: none;
}

.team .row .card .info .icons .fa-linkedin:hover,
.footer .icons .fa-linkedin:hover {
    color: #2867B2;
    text-decoration: none;
}

.team .row .card::before,
.team .row .card::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    z-index: -1;
}

.project-container::before, .project-container::after {
    content: '';
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    z-index: -10;
}

.team .row .card::before {
    background: #30C5DC;
    top: -3rem;
    right: -4rem;
}

.team .row .card::after {
    background: #333;
    bottom: -3rem;
    left: -4rem;
}

.project-container::before {
    background: #30C5DC;
    position: absolute;
    top: -3rem;
    right: -4rem;
}

.project-container::after {
    background: #333;
    position: absolute;
    bottom: -3rem;
    left: -4rem;
}

.contact {
    text-align: center;
    align-items: center;
}

.contact .heading {
    margin-bottom: 5rem;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto auto 5rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
}

.contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: left;
}

.contact-form-txt {
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-email {
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder {
    color: #aaa;
    font-size: 1rem;
}

.contact-form-email::placeholder {
    color: #aaa;
    font-size: 1rem;
}

.contact-form-txtarea {
    margin-left: 2rem;
    width: 95%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txtarea::placeholder {
    color: #aaa;
    font-size: 1rem;
}

.contact-form-btn {
    margin-left: 2rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.contact-form-btn:hover {
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
}

.contact-form-phone {
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-phone::placeholder {
    color: #aaa;
    font-size: 1rem;
}

.footer {
    position: relative;
    padding: 0 0 30px 0;
    background: #333;
}

.footer .footer-top {
    background: #002e5f;
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-info,
.footer .footer-top .footer-links,
.footer .footer-top .footer-contact,
.footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

.footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ffffff;
    color: #00bfff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
    background: #00bfff;
    color: #ffffff;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer .footer-top h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 50px;
    border-bottom: 2px solid #ffffff;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 8px;
    color: #ffffff;
    font-size: 16px;
}

.footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #ffffff;
    padding: 7px 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul a {
    font-size: 14px;
    color: #ffffff;
}

.footer .footer-top .footer-links ul a:hover {
    color: #00bfff;
}

.footer .footer-top .footer-contact p {
    color: #ffffff;
    line-height: 26px;
}

.footer .footer-top .footer-newsletter input[type="email"] {
    padding: 6px 8px;
    width: 60%;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
}

.footer .footer-top .footer-newsletter input[type="submit"] {
    border: 0;
    width: 40%;
    padding: 6px 0;
    text-align: center;
    color: black;
    border: 1px solid #ffffff;
    background: #ffffff;
    transition: 0.3s;
    cursor: pointer;
}

.footer .footer-top .footer-newsletter input[type="submit"]:hover {
    color: #ffffff;
    background: #00bfff;
    border: 1px solid #00bfff;
    letter-spacing: .2rem;
}

.footer .footer-top .footer-newsletter p {
    color: #ffffff;
    font-size: 9px;
}

.footer .credit,
.footer .copyright {
    text-align: center;
    padding-top: 30px;
}

@media (min-width: 768px) {
    .footer .credit {
        text-align: right;
    }

    .footer .copyright {
        text-align: left;
    }
}

@media (max-width: 1000px) {
    .header .logo img {
        height: 5rem;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .header .fa-bars {
        display: block;
        color: white;
        margin-right: 1rem;
    }

    .header .fa-bars:hover {
        color: #00bfff;
    }

    .header .navbar {
        position: fixed;
        top: -120%;
        left: 0;
        height: auto;
        width: 100%;
        background-color: white;
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    .header .navbar ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
    }

    .header .navbar ul li {
        margin: 0.5rem 0;
    }

    .header .navbar ul li a {
        color: #002e5f;
        font-size: 1.5rem;
    }

    .header .fa-times {
        transform: rotate(90deg);
    }

    .header .nav-toggle {
        top: 5.8rem;
    }

    .about {
        min-height: 38vh;
        width: 100vw;
        margin-top: -3rem;
        margin-bottom: -2rem;
        top: -2rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        line-height: 6rem;
    }

    .about .row {
        line-height: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 4rem;
    }

    .about .row .content {
        text-align: center;
    }

    .about .row .content h3 {
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 0.875rem;
        padding: 1rem 0;
    }

    .clients {
        position: relative;
        padding: 90px 0;
        text-align: center;
        margin-top: -15rem;
        margin-bottom: -8rem;
    }

    .clients .section-header p {
        padding-bottom: 10px;
        margin-top: 2.5rem;
        text-align: center;
        font-size: 1.25rem;
    }

    .contact {
        text-align: center;
        align-items: center;
    }

    .contact .heading {
        margin-bottom: 3rem;
        margin-top: -2rem;
    }

    .contact-in {
        width: 80%;
        height: auto;
        margin: auto auto 5rem auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px #666;
    }

    .contact-map {
        width: 100%;
        height: auto;
        flex: 50%;
    }

    .contact-map iframe {
        width: 100%;
        height: 100%;
    }

    .contact-form {
        width: 100%;
        height: auto;
        flex: 50%;
        text-align: left;
    }

    .contact-form-txt {
        width: 90%;
        height: 20px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    .contact-form-email {
        margin-left: 2rem;
        width: 90%;
        height: 20px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    .contact-form-txt::placeholder {
        color: #aaa;
        font-size: 1rem;
    }

    .contact-form-email::placeholder {
        color: #aaa;
        font-size: 1rem;
    }

    .contact-form-txtarea {
        margin-left: 2rem;
        width: 90%;
        height: 110px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 10px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    .contact-form-txtarea::placeholder {
        color: #aaa;
        font-size: 1rem;
    }

    .contact-form-btn {
        margin-left: 2rem;
        outline: none;
        border: none;
        border-radius: 5rem;
        background: white;
        border-style: groove;
        border-color: #002e5f;
        font-size: 1rem;
        cursor: pointer;
        height: 3.5rem;
        width: 12rem;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    }

    .contact-form-btn:hover {
        letter-spacing: .1rem;
        opacity: .9;
        color: white;
        background: #002e5f;
    }

    .contact-form-phone {
        margin-left: 2rem;
        width: 90%;
        height: 20px;
        color: #000;
        border: 1px solid #bcbcbc;
        border-radius: 50px;
        outline: none;
        margin-bottom: 20px;
        padding: 15px;
    }

    .contact-form-phone::placeholder {
        color: #aaa;
        font-size: 1rem;
    }
}

.superimposed {
    opacity: 0;
    animation: fadeIn 1.5s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    z-index: 1000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.two-images {
    animation: fadeInUp 1.5s ease-out;
}