---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="about" class="about flex flex-col items-center min-h-screen">
		<img src="/images/image.png" class="max-sm:max-w-sm max-sm:mt-24 sm:max-w-screen-sm sm:mt-16 w-fit p-4" />

		<div class="row flex justify-around leading-10 sm:-mt-32 max-sm:-mt-24">
			<div class="content">
				<h3 class="text-vyoma-blue">Who We Are</h3>
				<p>
					We are the aero-design team of RV College of Engineering.
					Started in 2007, we are one of the leading student projects
					in India, having won many national and international
					competitions and awards such as the NASA Systems Engineering
					Award.
				</p>
				<h3 class="text-vyoma-blue">What We Do</h3>
				<p>
					Carry out cutting edge research for development of Unmanned
					Aerial Vehicles. Ignite inquisitiveness and interest in
					young minds in Aerospace Engineering and help them along
					that path. Represent our country in numerous International
					competitions like SAE Aero-design, AIAA Design Build Fly &
					IMAV.
				</p>
				<h3 class="text-vyoma-blue">Our Mission</h3>
				<p>
					To develop state of the art technologies in the field
					Autonomous Robotics, to accelerate the growth of the
					Aerospace domain by conceiving a Societal Drone Era, to
					Carry out R&D in Unmanned Aerial Vehicles, to perform custom
					advanced missions for societal use.
				</p>
				<h3 class="text-vyoma-blue">Gallery</h3>
			</div>
		</div>
	</section>    
</Layout>
