---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<header class="header">
		<a href="#" class="logo"><img src="/images/image.png" alt="" /></a>
		<div class="fas fa-bars"></div>
		<nav class="navbar">
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#service">Projects</a></li>
				<li><a href="#achievements">Achievements</a></li>
				<li><a href="#team">Team</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<section id="home" class="home">
		<h1>TEAM VYOMA</h1>
		<h2>Aeromodelling Club of RVCE</h2>
		<div class="wave wave1"></div>
		<div class="wave wave2"></div>
		<div class="wave wave3"></div>
	</section>

	<section id="about" class="about">
		<h1 class="heading">ABOUT OUR TEAM</h1>
		<div class="row">
			<div class="content">
				<h3>Who We Are</h3>
				<p>
					We are the aero-design team of RV College of Engineering.
					Started in 2007, we are one of the leading student projects
					in India, having won many national and international
					competitions and awards such as the NASA Systems Engineering
					Award.
				</p>
				<h3>What We Do</h3>
				<p>
					Carry out cutting edge research for development of Unmanned
					Aerial Vehicles. Ignite inquisitiveness and interest in
					young minds in Aerospace Engineering and help them along
					that path. Represent our country in numerous International
					competitions like SAE Aero-design, AIAA Design Build Fly &
					IMAV.
				</p>
				<h3>Our Mission</h3>
				<p>
					To develop state of the art technologies in the field
					Autonomous Robotics, to accelerate the growth of the
					Aerospace domain by conceiving a Societal Drone Era, to
					Carry out R&D in Unmanned Aerial Vehicles, to perform custom
					advanced missions for societal use.
				</p>
			</div>
		</div>
	</section>

	<div class="pt-5 pb-5" style="background-color: #212121;">
		<div class="container">
			<div class="row">
				<div class="section-head col-sm-12" id="service">
					<h1>PROJECTS</h1>
					<p>
						We help you to build high-quality digital solutions and
						products as well as deliver a wide range of related
						professional services. We are providing world-class
						service to our clients.
					</p>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_one"
							><i class="fa fa-arrow-up"></i></span
						>
						<h6>Fixed-Wing VTOL</h6>
						<p>
							An efficient aircraft capable of taking off and
							landing in difficult terrain
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_two"
							><i class="fa fa-fighter-jet"></i></span
						>
						<h6>RC Planes</h6>
						<p>
							Remote-controlled model airplanes, controlled by
							radio signals
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_three"
							><i class="fa fa-plane"></i></span
						>
						<h6>RC Plane Launcher</h6>
						<p>
							A system to launch RC airplanes, making hand
							launches obsolete
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
		crossorigin="anonymous"></script>

	<div class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div
					class="section-head-1 col-sm-12"
					style="text-align: center;"
				>
					<h4 style="margin-top: -5rem;" id="achievements">
						ACHIEVEMENTS
					</h4>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<!-- <span class="icon feature_box_col_four"><i class="fa fa-plane"></i></span> -->
						<img
							style="width: 250px"
							src="./images/boeing.png"
							alt="8th mile event"
						/>

						<h6>BOEING Aeromodelling IITM</h6>

						<p>
							Stood in the top 20 of the Boeing National
							Aeromodelling Competition. This stands as a
							testament to our relentless pursuit of excellence.<br
							/><br /><br />
						</p>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<!-- <span class="icon feature_box_col_five"><i class="fa fa-book"></i></span> -->
						<img
							style="width: 250px"
							src="./images/wow.jpg"
							alt="8th mile event"
						/>

						<h6>Wings of Wonder</h6>
						<p>
							Sowing the seeds of interest in aircrafts at a young
							age, Wings of Wonder is a program aiming to expose
							young students to the world of model aircraft.<br
							/><br /><br />
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<img
							style="width: 250px"
							src="./images/aci.jpg"
							alt="8th mile event"
						/>
						<h6>Air Crash Investigation</h6>
						<p>
							Our 8th mile event, a testament to the commitment to
							safer skies, and an opportunity to fortify the
							foundations of aviation safety worldwide<br /><br
							/><br />
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="communicate">
		<h3>Get in touch with us</h3>
		<!-- <p>Lorem ipsum dolor sit amet.</p> -->
		<a href="#contact"><button class="btn">Contact Now</button></a>
	</div>

	<a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
	<script is:inline src="/lib/jquery/jquery.min.js"></script>
	<script is:inline src="/lib/jquery/jquery-migrate.min.js"></script>
	<script is:inline src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script is:inline src="/lib/easing/easing.min.js"></script>
	<script is:inline src="/lib/waypoints/waypoints.min.js"></script>
	<script is:inline src="/lib/counterup/counterup.min.js"></script>
	<script is:inline src="/lib/owlcarousel/owl.carousel.min.js"></script>
	<script is:inline src="/lib/lightbox/js/lightbox.min.js"></script>

	<section class="team" style="margin-top: 7rem;">
		<h1 class="heading" style="margin-top: -1.5rem;" id="team">Our team</h1>
		<p></p>
		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-845434.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Prakhyath YB</h3>
					<span>Team Lead</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/prakhyath_yb980/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/prakhyath-bhandary-939458240/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-vinicius-wiesehofer-1130624.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Sreevalli TS</h3>
					<span>Team Lead</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/sreevalli_221b/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/sreevalli-seetha-ramu-9b0560229/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-hussein-altameemi-2776353.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Gautam M</h3>
					<span>Design Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/gautam-m-8a4a27225/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Nikhil Bharadwaj</h3>
					<span>Aerodynamics and Finance Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/nikhil-bharadwaj-01a611223/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Chyawan C</h3>
					<span>Avionics Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/chyawan-chandrashekar-709469261/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Adithya DR</h3>
					<span>Flight Test Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/adithya-d-r-979119240/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Siddharth Varshney</h3>
					<span>Web Development Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a href="https://instagram.com" class="fab fa-instagram"
						></a>
						<a
							href="https://www.linkedin.com/in/siddharth-varshney-385a42244/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Ashrith P Jain</h3>
					<span>Sponsorship Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/in/ashrithjain/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Lakshmi Manasa</h3>
					<span>Marketing Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="card">
				<div class="image">
					<img
						src="./images/pexels-andrea-piacquadio-745136.jpg"
						alt="Team member 1"
					/>
				</div>
				<div class="info">
					<h3>Solomon Dcosta</h3>
					<span>Inventory and Procurement Head</span>
					<div class="icons">
						<a
							href="https://twitter.com/login"
							class="fab fa-twitter"></a>
						<a
							href="https://www.instagram.com/"
							class="fab fa-instagram"></a>
						<a
							href="https://www.linkedin.com/"
							class="fab fa-linkedin"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact" class="contact">
		<h1 class="heading">Get in touch</h1>
	</section>
	<div class="contact-in">
		<div class="contact-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30711243.17762776!2d64.4398422293091!3d20.011408266548177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1644684739958!5m2!1sen!2sin"
				width="100%"
				height="auto"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"></iframe>
		</div>
		<div class="contact-form">
			<form action="./contactme.php" method="POST">
				<input
					type="text"
					name="name"
					placeholder="Name"
					class="contact-form-txt"
					required
				/>
				<input
					type="tel"
					id="phone"
					name="phone"
					pattern="[0-9]{10}"
					required
					placeholder="Contact number"
					maxlength="10"
					class="contact-form-phone"
				/>
				<input
					type="email"
					name="email"
					placeholder="Email"
					class="contact-form-email"
					required
				/>
				<textarea
					placeholder="Your Message"
					name="message"
					class="contact-form-txtarea"
					required></textarea>
				<input
					type="submit"
					value="Submit"
					name="submit"
					class="contact-form-btn"
				/>
			</form>
		</div>
	</div>

	<!-- <section class="faq">
      <h1 class="heading" style="margin-top: -2rem; color: #00bfff;" id="faq">FAQ</h1>
      <div class="row">
          <div class="accordion-container">
              <div class="accordion">
                  <div class="accordion-header">
                      <span>+</span>
                      <h3>How much will it cost?</h3>
                  </div>
                  <div class="accordion-body">
                      <p>To get a better idea of the cost of what you want to build, give us a quick phone call. We’ll ask you a few questions about the nature of the site, what sort of interactivity the site will have, your graphic design needs, etc. 
                          Then we’ll be able to give you a ballpark figure. 
                          If you’re still interested, we’ll come to your place of business and come up with a firm quote.</p>
                  </div>
              </div>
              <div class="accordion">
                  <div class="accordion-header">
                      <span>+</span>
                      <h3>How long it takes to design?</h3>
                  </div>
                  <div class="accordion-body">
                      <p>The time limit of any assignment is normally dictated by the client. If you have any time limit in mind we will attempt to assemble it for you. 
                          The main general delay in the making of a website is waiting for the content of the pages to be sent to us by the client.</p>
                  </div>
              </div>
              <div class="accordion">
                  <div class="accordion-header">
                      <span>+</span>
                      <h3>How do I associate with IT Company?</h3>
                  </div>
                  <div class="accordion-body">
                      <p>The process begins when you contact us with your requirements. We analyze your requirements and respond to you. 
                          On the basis of the further discussion, you can choose an engagement model that suits you the best. 
                          After that, we begin the process of development.</p>
                  </div>
              </div>
              <div class="accordion">
                  <div class="accordion-header">
                      <span>+</span>
                      <h3>Can you help my current site look more professional?</h3>
                  </div>
                  <div class="accordion-body">
                      <p>Yes. Give us your requirements and we have experienced expertise to help you give a 
                          new professional look that really wonders!</p>
                  </div>
              </div>
              <div class="accordion">
                  <div class="accordion-header">
                      <span>+</span>
                      <h3>When do I pay?</h3>
                  </div>
                  <div class="accordion-body">
                      <p>For most projects, equal payments are made at the start, midway, and the end of the project, but we can work with you to set up a schedule that meets your needs. 
                          We understand that this is a big investment and want to help you budget for the expense in whatever way possible.
                          We accept checks, PayPal, and all major credit cards.</p>
                  </div>
              </div>
          </div>
      </div>
  </section> -->

	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 footer-links">
						<h4>About Us</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#">Home</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#about">About us</a>
							</li>
						</ul>
					</div>

					<div class="col-lg-4 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#portfolio">Achievements</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#team">Team</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#contact">Contact</a>
							</li>
							<li>
								<i class="ion-ios-arrow-forward"></i>
								<a href="#faq">FAQ</a>
							</li>
						</ul>
					</div>

					<div
						class="col-lg-4 col-md-6 footer-contact"
						style="font-size: 1.5rem; text-transform: none;"
					>
						<h4>Contact Us</h4>
						<p>
							RV College of Engineering<br />
							Pattanagere, Mysuru road<br />
							Bangalore, Karnataka, 560059 <br />
							<strong>Phone:</strong> 999999999<br />
							<strong>Email:</strong>
							<span
								style="font-family: monospace; text-transform: none;"
								>teamvyoma.ae@rvce.edu.in</span
							><br />
						</p>

						<div class="social-links">
							<!-- <a href="https://www.facebook.com/"><i class="ion-logo-facebook"></i></a> -->
							<a href="https://x.com/projectvyoma"
								><i class="ion-logo-twitter"></i></a
							>
							<a
								href="https://www.linkedin.com/company/team-vyoma"
								><i class="ion-logo-linkedin"></i></a
							>
							<a href="https://www.instagram.com/teamvyoma"
								><i class="ion-logo-instagram"></i></a
							>
							<!-- <a href="https://accounts.google.com/servicelogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="ion-logo-googleplus"></i></a> -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row align-items-center">
				<div
					class="col-md-6 copyright"
					style="color: #fff; font-size: 1.3rem;"
				>
					Copyright &copy; 2015 Team Vyoma. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>

	<a href="#" class="back-to-top"><i class="ion-ios-arrow-up"></i></a>
</Layout>
