---
import Achievement from "../components/Achievement.astro";
import Layout from "../layouts/Layout.astro";
import { achievements } from "../lib/achievements";
---

<Layout>
	<section
		id="home"
		class="flex flex-col flex-wrap justify-center items-center text-center overflow-hidden py-4 min-h-screen w-full text-white home"
	>
		<h1 class="text-7xl drop-shadow-lg text-neutral-200">TEAM VYOMA</h1>
		<h2 class="text-3xl drop-shadow-md">Aeromodelling Club of RVCE</h2>
		<div class="h-32 wave"></div>
		<div class="h-32 wave wave2"></div>
		<div class="h-32 wave wave3"></div>
	</section>

	<div class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="section-head col-sm-12" id="service">
					<h1>VISION</h1>
					<p>To foster innovation and creativity in the field of aeromodelling</p>

					<a class="text-[#406E9F] hover:text-vyoma-blue hover:no-underline text-2xl" href="/about">Learn More</a>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="section-head col-sm-12" id="service">
					<h1>PROJECTS</h1>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_one"
							><i class="fa fa-arrow-up"></i></span
						>
						<h6>Fixed-Wing VTOL</h6>
						<p>
							An efficient aircraft capable of taking off and
							landing in difficult terrain
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_two"
							><i class="fa fa-fighter-jet"></i></span
						>
						<h6>RC Planes</h6>
						<p>
							Remote-controlled model airplanes, controlled by
							radio signals
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="item">
						<span class="icon feature_box_col_three"
							><i class="fa fa-plane"></i></span
						>
						<h6>RC Plane Launcher</h6>
						<p>
							A system to launch RC airplanes, making hand
							launches obsolete
						</p>
					</div>
				</div>
			</div>
		</div>
	</div> -->

	<div class="pt-5 pb-5 -mt-20">
		<div class="container">
			<div class="row">
				<div
					class="section-head-1 col-sm-12"
					style="text-align: center;"
				>
					<h4 style="margin-top: -5rem;" id="achievements">
						ACHIEVEMENTS
					</h4>
				</div>

				{
					achievements.map((achievement) => (
						<Achievement
							src={achievement.src}
							heading={achievement.heading}
						>
							{achievement.description}
						</Achievement>
					))
				}
			</div>
		</div>
	</div>

	<div
		class="text-center items-center bg-[url(../images/bg2.png)] bg-no-repeat bg-cover bg-fixed text-white min-h-[35vh] px-5 py-10"
	>
		<!-- <h3 class="mt-12 text-3xl">Get in touch with us</h3>
		<a href="#contact" class="hover:text-sky-600"
			><button
				class="bg-white text-base cursor-pointer h-14 w-60 shadow-md rounded-full border-indigo-950 text-indigo-950 hover:text-sky-500"
				>Contact Now</button
			></a
		> -->
	</div>

	<section id="contact" class="contact">
		<h1 class="heading">Get in touch</h1>
	</section>
	<div class="contact-in">
		<div class="contact-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30711243.17762776!2d64.4398422293091!3d20.011408266548177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1644684739958!5m2!1sen!2sin"
				width="100%"
				height="auto"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"></iframe>
		</div>
		<div class="contact-form">
			<form action="./contactme.php" method="POST">
				<input
					type="text"
					name="name"
					placeholder="Name"
					class="contact-form-txt"
					required
				/>
				<input
					type="tel"
					id="phone"
					name="phone"
					pattern="[0-9]{10}"
					required
					placeholder="Contact number"
					maxlength="10"
					class="contact-form-phone"
				/>
				<input
					type="email"
					name="email"
					placeholder="Email"
					class="contact-form-email"
					required
				/>
				<textarea
					placeholder="Your Message"
					name="message"
					class="contact-form-txtarea"
					required></textarea>
				<input
					type="submit"
					value="Submit"
					name="submit"
					class="contact-form-btn"
				/>
			</form>
		</div>
	</div>
</Layout>
