<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4 class="">Team Vyoma</h4>
                    <ul>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="/">Home</a
                            >
                        </li>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="/about">About us</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="/projects">Projects</a
                            >
                        </li>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="/team">Team</a
                            >
                        </li>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="#contact">Contact</a
                            >
                        </li>
                        <li>
                            <i class="ion-ios-arrow-forward"></i>
                            <a
                                class="text-md text-white hover:text-sky-400"
                                href="/legal">Legal</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact text-base">
                    <h4>Contact Us</h4>
                    <p>
                        RV College of Engineering<br />
                        Pattanagere, Mysuru road<br />
                        Bangalore, Karnataka, 560059 <br />
                        <strong>Phone:</strong> 999999999<br />
                        <strong>Email:</strong>
                        <span
                            style="font-family: monospace; text-transform: none;"
                            >teamvyoma.ae@rvce.edu.in</span
                        ><br />
                    </p>

                    <div class="social-links">
                        <a href="https://x.com/projectvyoma"
                            ><i class="ion-logo-twitter"></i></a
                        >
                        <a href="https://www.linkedin.com/company/team-vyoma"
                            ><i class="ion-logo-linkedin"></i></a
                        >
                        <a href="https://www.instagram.com/teamvyoma"
                            ><i class="ion-logo-instagram"></i></a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div
                class="col-md-6 copyright"
                style="color: #fff; font-size: 0.8rem;"
            >
                Copyright &copy; 2015 Team Vyoma. MIT License.
            </div>
        </div>
    </div>
</div>
