---
const { name, image, reversed } = Astro.props;
---

<div
    class={`relative project-container overflow-hidden flex flex-col max-sm:flex-col items-center max-w-screen-lg w-full bg-neutral-600 rounded-lg shadow-md text-white`}
>
    <h3 class="mt-4 drop-shadow text-white text-3xl font-semibold">
        {name}
    </h3>

    <div class={`flex sm:flex-row ${reversed ? "sm:flex-row-reverse" : ""} max-sm:flex-col items-center gap-4 p-4`}>
        <img
            src={image}
            alt={name}
            class="rounded-2xl h-64 object-cover max-sm:text-center max-sm:items-center"
            style="border: .5rem solid #fff; box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);"
        />

        <div class="flex flex-col gap-4 p-4">
            <slot />
        </div>
    </div>
</div>
