---
import ProjectCard from "../../components/ProjectCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <section class="flex flex-col relative min-h-screen m-4 mt-16 gap-16 items-center p-4">
        <h1 class="pt-24 text-5xl text-vyoma-blue">PROJECTS</h1>

        <div class="flex flex-col gap-16">
            <ProjectCard name="RC Model Airplanes" image="/images/aci.jpg" reversed>
                <p>Our team designs and builds radio-controlled (RC) model airplanes for competitions and recreational flying.</p>
    
                <p>We use advanced materials and manufacturing techniques to optimize the performance of our aircraft.</p>
            </ProjectCard>

            <ProjectCard name="Fixed-Wing VTOL" image="/images/boeing.png">
                <p>A vertical takeoff and landing (VTOL) aircraft that can transition between hovering and forward flight.</p>
    
                <p>It is designed to be a versatile platform for various applications, including aerial photography, surveillance, and package delivery.</p>
            </ProjectCard>

            <ProjectCard name="RC Airplane Launcher" image="/images/wow.jpg">
                <p>A device that launches RC model airplanes into the air with ease.</p>
    
                <p>It is designed to provide a consistent and reliable launch. Compared to hand launching, it is less difficult and unpredictable.</p>
            </ProjectCard>
        </div>
    </section>
</Layout>
