---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <section
        class="flex flex-col relative min-h-screen m-4 mt-16 gap-8 items-center p-4"
    >
        <h1 class="pt-24 text-5xl text-vyoma-blue">Fixed-Wing VTOL</h1>

        <div
            class="flex flex-col gap-4 text-left max-w-screen-lg w-full text-white"
        >
            <div class="flex flex-col">
                <p class="text-lg">
                    The Fixed-Wing VTOL project is a vertical takeoff and
                    landing (VTOL) aircraft that can transition between hovering
                    and forward flight. It can take off and land vertically like
                    a helicopter and transition to forward flight like an
                    airplane.
                </p>
            </div>
            <div class="flex flex-col">
                <h3 class="text-vyoma-blue text-2xl">Efficiency</h3>
                <p>
                    The Fixed-Wing VTOL is designed to be efficient in both
                    hovering and forward flight. It uses a combination of
                    aerodynamic lift and thrust vectoring to achieve stable and
                    efficient flight. It does not need a runway for takeoff and
                    landing, making it suitable for confined spaces.
                </p>
            </div>
        </div>
    </section>
</Layout>
